<header>
  <button id="logout" (click)="logout()">Logout</button>
</header>

<div id="createTicketContainer">
  <button id="createTicketButton" (click)="createTicket()">Create Ticket</button>
</div>

<div id="additionalButtonsContainer">
  <button (click)="getAllTickets()" class="additionalButton">All tickets</button>
  <button (click)="getAllTicketsMine()" class="additionalButton">My tickets</button>
</div>

<div id="filterContainer">
  <input type="text" id="filter" [(ngModel)]="filterText" (input)="filterTable()">
  <div *ngIf="!isInputValid" style="color: red;">Incorrect input</div>
</div>

<table id="ticketsList">
  <tr>
    <th>ID<button class='sort-button' (click)='idSortAsc()'>🔼</button><button class='sort-button' (click)='idSortDes()'>🔽</button></th>
    <th>Name<button class='sort-button' (click)='nameSortAsc()'>🔼</button><button class='sort-button' (click)='nameSortDes()'>🔽</button></th>
    <th>Desired date<button class='sort-button' (click)='dateSortAsc()'>🔼</button><button class='sort-button' (click)='dateSortDes()'>🔽</button></th>
    <th>Urgency<button class='sort-button' (click)='urgencySortAsc()'>🔼</button><button class='sort-button' (click)='urgencySortDes()'>🔽</button></th>
    <th>Status<button class='sort-button' (click)='statusSortAsc()'>🔼</button><button class='sort-button' (click)='statusSortDes()'>🔽</button></th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let ticket of filteredTickets">
    <td>{{ticket.id}}</td>
    <td>{{ticket.name}}</td>
    <td>{{ticket.desiredResolutionDate}}</td>
    <td>{{ticket.urgencyId}}</td>
    <td>{{ticket.stateId}}</td>
    <td><button>Action</button></td>
  </tr>
</table>
<div id="buttons">
  <button id="draft" (click)="users()">users</button>
</div>
