  <header>
    <button id="allTickets" (click)="allTickets()">All Tickets</button>
    <button id="logout" (click)="logout()">Logout</button>
  </header>
  <div>
    <h1>Create new Ticket</h1>
  </div>
  <div id="formForCreatingTicket">
    <div id="category" class="input-group mb-2">
      <span class="text">Category</span>
      <select  [(ngModel)]="category" class="form-select" id="inputGroupSelect01" required>
        <option selected></option>
        <option value="Application & Services">Application & Services</option>
        <option value="Benefits & Paper Work">Benefits & Paper Work</option>
        <option value="Hardware & Software">Hardware & Software</option>
        <option value="People Management">People Management</option>
        <option value="Security & Access">Security & Access</option>
        <option value="Workplaces & Facilities">Workplaces & Facilities</option>
      </select>
    </div>

    <div id="name" class="input-group mb-3">
      <span class="text">Name</span>
      <input [(ngModel)]="name" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" required>
    </div>

    <div id="description" class="input-group">
      <span class="text">Description</span>
      <textarea [(ngModel)]="description" class="form-control-big" aria-label="С текстовым полем"></textarea>
    </div>

    <div id="urgency" class="input-group mb-2">
      <span class="text">Urgency</span>
      <select [(ngModel)]="urgency" class="form-select" id="inputGroupSelect02" required>
        <option selected></option>
        <option value="CRITICAL">Critical</option>
        <option value="HIGH">High</option>
        <option value="AVERAGE">Average</option>
        <option value="LOW">Low</option>
      </select>
    </div>

    <div id="date">
      <label class="text" for="start">Desired resolution date</label>
      <input [(ngModel)]="desiredResolutionDate" type="date" id="start" name="trip-start" onkeydown="return false"/>
    </div>

    <!-- <form enctype="multipart/form-data" method="post">
      <p>
        <label class="text" for="fileInput">Add attachment</label>
        <input (change)="handleFileInput($event)" type="file" id="fileInput" name="f" accept=".pdf, .doc, .docx, .png, .jpeg, .jpg" multiple/>
      </p>
      <div *ngIf="wrongFileType" style="color: red;">The selected file type is not allowed. Please select a file of one of the following types: pdf, png, doc, docx, jpg, jpeg.</div>
      <div *ngIf="wrongFileSize" style="color: red;">The size of attached file should not be greater than 5 Mb. Please select another file.</div>
    </form> -->

    <form enctype="multipart/form-data" method="post">
      <div *ngFor="let fileInput of fileInputs; let i = index">
        <p>
          <label class="text" for="fileInput{{ i }}">Add attachment</label>
          <input (change)="handleFileInput($event, i)" type="file" id="fileInput{{ i }}" name="f" accept=".pdf, .doc, .docx, .png, .jpeg, .jpg"/>
          <span *ngIf="i > 0" (click)="removeFileInput(i)" style="cursor: pointer;">❌</span>
        </p>
        <div *ngIf="wrongFileType[i]" style="color: red;">The selected file type is not allowed. Please select a file of one of the following types: pdf, png, doc, docx, jpg, jpeg.</div>
        <div *ngIf="wrongFileSize[i]" style="color: red;">The size of attached file should not be greater than 5 Mb. Please select another file.</div>
      </div>
      <button (click)="addFileInput()">Add Attachment</button>
    </form>

    <div id="comment" class="input-group">
      <span class="text">Comment</span>
      <textarea [(ngModel)]="comment" class="form-control-big" aria-label="С текстовым полем"></textarea>
    </div>

    <div id="buttons">
      <button id="draft" (click)="saveAsDraft()">Save as Draft</button>
      <button id="submit" (click)="submit()">Submit</button>
    </div>
  </div>